.deleteIcon{
    color: rgb(245, 104, 104);
    font-size: 20px;
    box-sizing: border-box;
    padding-right: 0px;
    &_btn{
        outline: 0;
        background-color: transparent;
        border: 0;
        box-sizing: border-box;
        
    }
    &:hover{
        color: rgb(252, 71, 71);
    }
}