.formwrapper{
    min-height: 450px;
    position: relative;
    &_buttondiv{
        width: 100%;
        text-align: right;
        margin-top: 30px;
    }
    &_nav{
        margin-bottom: 10px;
    }
}
