.employee{
    min-height: 550px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    &_div{
        max-width: 800px;
        margin: auto;
        box-sizing: border-box;
    }
    &_div1{
        justify-content: space-between;
    }
    &_selectDropDiv{
        margin-top: 40px !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    &_table{
        margin-top: 60px;
    }
    &_btns{
        justify-content: space-around;
        padding: 0;
    }
}
