.employee{
    min-height: 550px;
    box-sizing: border-box;
    padding: 30px;
    &_div{
        max-width: 800px;
        margin: auto;
        box-sizing: border-box;
    }
    &_div1{
        justify-content: space-between;
    }
    &_selectDropDiv{
        margin-top: 20px;
    }
}
