.employee {
  min-height: 550px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
}
.employee_div {
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
}
.employee_div1 {
  justify-content: space-between;
}
.employee_selectDropDiv {
  margin-top: 40px !important;
  padding-left: 0px;
  padding-right: 0px;
}
.employee_table {
  margin-top: 60px;
}
.employee_btns {
  justify-content: space-around;
  padding: 0;
}
