@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
button {
  outline: 0 !important;
}
.material-icons {
  padding-right: 0px;
}
