@import url("https://fonts.googleapis.com/css?family=Cabin|Russo+One&display=swap");
.userAsideCard {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.userAsideCard_imageOuter {
  border: 2px solid #575656;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userAsideCard_name {
  font-weight: 300;
  font-size: 15px;
  color: #e9e3e3;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
.userAsideCard_type {
  color: #41b841;
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.userAsideCard_image {
  border: 2px solid #474747;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
